.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: rgb(133, 133, 133);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 3em;
}