/* This is a comment */

body {
    background: url(https://i.pinimg.com/originals/d3/54/c7/d354c76506930b5eb300736b0c2c24c3.jpg);
    background-size: auto;
}

h1 {
    color: rgb(16, 31, 46);
    font-family: Verdana;
}

.mainHeading {
    border-color: rgb(13, 173, 120);
    border-width: 10px;
    border-style: groove;
    background-color: rgb(161, 233, 205);
    text-align: center;
}

.singledOut {
    font-family: monospace;
    font-size: large;
    color: darkslategray;
    text-align: justify;
}

.menuPara {
    border-color: rgb(183, 245, 194);
    background-color: #fff;
    border-width: 8px;
    border-style: groove;
    background-color: rgb(184, 253, 226);
}

.listDiv {
    border-color: rgb(206, 238, 227);
    background-color: #fff;
    border-width: 8px;
    border-style: groove;
    background-color: rgb(208, 241, 228);
}

.formDiv {
    border: 4px solid rgb(69, 156, 150);
    background-color: rgb(216, 255, 255);
}

#blog {
    background-color: rgb(154, 230, 255);
    border: 2px solid rgb(34, 131, 170);
    display: block;
    width: 98%;
    height: 200px;
    max-width: 98%;
    max-height: 200px;
}

#feedback {
    background-color: rgb(154, 230, 255);
    border: 2px solid rgb(34, 131, 170);
    display: block;
    width: 98%;
    height: 200px;
    max-width: 98%;
    max-height: 200px;
}

.login {
    color: aqua;
}

li {
    border-color: rgb(83, 223, 174);
    background-color: rgb(202, 250, 240);
    border-style: double;
    border-width: 4px;
}

.links {
    color: rgb(0, 90, 90);
}

ul {
    list-style: none;
    padding: 1%;
}

li a {
    font-family: 'Lucida Sans';
    color: rgb(40, 97, 172);
}