<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Password generator</title>
</head>

<body>
    <div class="jumbotron container text-center">
        <h1>This is a new heading</h1>
        <p>Select the required options and click "Generate" to get your password</p>
        <hr>

        <form action="{% url 'password' %}">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select length</label>
                <select class="form-control" id="exampleFormControlSelect1" name="length">
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8" selected="selected">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="uppercase">
                <label class="form-check-label">Uppercase</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="numbers">
                <label class="form-check-label">Numbers</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="special">
                <label class="form-check-label">Special characters</label>
            </div>
            <hr>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Generate">
            </div>
        </form>
        <a class="btn alert-dark" href="{% url 'about' %}" role="button">
            About
        </a>
    </div>

</body>

</html>