#topHeader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 86, 88);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top {
    border: 3px solid rgb(143, 226, 241);
    background-color: rgb(174, 255, 244);
    text-align: center;
    margin: auto;
}

#bottom {
    border: 1px solid gray;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 80%;
}

ul {
    list-style: none;
    padding: 5%;
}

#parent {
    display: flex;
    margin-top: 1%;
}

#sidebar {
    border: 3px solid rgb(36, 222, 255);
    background-color: rgb(201, 251, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 86, 88);
    width: 20%;
}

#content {
    flex: 1;
    border: 3px solid rgb(36, 222, 255);
    background-color: rgb(201, 251, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(33, 86, 88);
    margin-left: 1%;
    padding-left: 2%;
}