body {
    background-color: rgb(0, 22, 15);
    color: aliceblue;
    border: 10px solid rgb(3, 61, 42);
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
}

.title {
    text-align: center;
    color: rgb(110, 207, 118);
    font-family: monospace;
    font-weight: bold;
    background-color: rgb(10, 61, 45);
    padding: 2%;
}

.art {
    margin: auto;
}

td {
    background-color: aquamarine;
    height: 200px;
    width: 5em;
    border: 5px solid rgb(0, 22, 15);
}

#one {
    background-color: rgb(159, 230, 236);
}

#two {
    background-color: rgb(115, 241, 83);
}

#three {
    background-color: rgb(167, 27, 27);
}

#four {
    background-color: rgb(47, 76, 206);
}

#five {
    background-color: rgb(144, 26, 160);
}